@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1020px;
  padding: 0px 15px;
  box-sizing: content-box;
}
.main {
  flex-grow: 1;
}

.titles *:not(:last-child) {
  margin-bottom: 33px;
}

.titles__label {
  padding: 0 0 0 35px;
  background: url("../img/icons/title-icon.svg") 0 -2px no-repeat;
  font-weight: 700;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  color: #5d62b5;
}
.titles__item {
  font-weight: 900;
  font-size: 36px;
  line-height: 1.16;
  color: #000;
}
.titles__item_white {
  color: #fff;
}

.titles__label-white {
  background: url("../img/mainpage/impact/icons/icon.png") 0 -2px no-repeat;
  color: #fff;
}
/* start header */
.header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #fff;
}
.header__top {
  padding-top: 26px;
  margin-bottom: 254px;
}
.header__items {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-right: 236px;
}

.header__item {
  font-weight: 700;
  line-height: 22px;
}
.item__boarding {
  background: url("../img/clock.svg") 0 0 no-repeat;
  padding-left: 35px;
}
.item__call-us {
  background: url("../img/phone.svg") 0 0 no-repeat;
  padding-left: 35px;
}
.item__title {
  text-transform: uppercase;
}
.main-bottom {
  padding-bottom: 312px;
}
.button-main__btn {
  font-weight: 700;
  line-height: 24px;
  background-color: #f2726f;
  color: #fff;
  text-transform: uppercase;
  width: 210px;
  height: 40px;
  border-radius: 10px;
}

.header__title {
  font-size: 56px;
  line-height: 56px;
  font-weight: 900;
  width: 601px;
  padding-bottom: 35px;
}
/* end header */
/* start about */
.about {
  height: 700px;
  background-color: #5d62b5;
  border-radius: 33px;
  color: #fff;
  padding-left: 87px;
  margin-bottom: 230px;
}
.about__top {
  position: relative;
}
.about__top::before {
  content: "";
  background: url("../img/about_fon.png") 0 0 no-repeat;
  width: 201px;
  height: 317px;
  position: absolute;
  top: -110px;
  right: -80px;
}
.who-we-are {
  padding-top: 100px;
  margin-top: -80px;
}
.who-we-are__logotype {
  background: url("../img/icon.png") 0 0 no-repeat;
  padding-left: 30px;
  font-size: 12px;
  padding-top: 2px;
  align-items: center;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
.who-we-are__title {
  width: 600px;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  margin-bottom: 36px;
}
.about__descr {
  padding-bottom: 35px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 54px;
}
.about__bottom {
  position: relative;
}
.about__bottom::before {
  content: "";
  background: url("../img/Blob_2.png") 0 0 no-repeat;
  width: 520px;
  height: 375px;
  position: absolute;
  bottom: 135px;
  left: -45px;
}
.about__img {
  border-radius: 30px;
  position: relative;
  z-index: 100;
}
/* end about */
/* .titles__label-white {
  background: url("../img/mainpage/impact/icons/icon.png") 0 -2px no-repeat;
  color: #fff;
} */
/* start promise */
.promise__header {
  margin-bottom: 68px;
}
.promise__items {
  display: flex;
  margin: 0 -12px;
  row-gap: 24px;
  flex-wrap: wrap;
}
.promise__item {
  padding: 0 12px;
  flex: 0 1 33.333%;
  min-width: 260px;
}
.item-promise {
  display: flex;
  align-items: flex-start;
  column-gap: 23px;
}
.item-promise__icon {
  flex: 0 0 63px;
}

.item-title {
  font-weight: 900;
  font-size: 19px;
  line-height: 1.36;
  color: #f2726f;
}
.item-promise__title:not(:last-child) {
  margin-bottom: 20px;
}
.item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
}
/* end promise */
/* start services */
.services {
  padding: 100px 0 112px 0;
}
.services__container {
  display: flex;
  flex-direction: column;
}
.services__header {
  margin-bottom: 74px;
}
.services__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  margin: 0 -12px;
}
.services__items:not(:last-child) {
  margin: 0 0 66px 0;
}
.services__item {
  padding: 0 12px;
  flex: 1 1 33.333%;
  min-width: 300px;
}
.item-services {
  background-color: #fff;
  border-radius: 20px;
  padding: 50px 44px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100%;
}
.item-services:hover {
  filter: drop-shadow(0px 4px 18px rgba(38, 38, 38, 0.24))
    drop-shadow(0px 4px 8px rgba(38, 38, 38, 0.2));
}
.item-services__icon {
  flex: 0 0 63px;
  width: 63px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.item-services__icon img {
  max-width: 100%;
  max-height: 63px;
}
.item-services__icon:not(:last-child) {
  margin: 0 0 33px 0;
}

.services__button {
  align-self: center;
  background-color: #f2726f;
  border-radius: 8px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  line-height: 2;
  padding: 12px 25px;
}
.item-services__title:not(:last-child) {
  margin: 0 0 20px 0;
}
.item-services__text:not(:last-child) {
  margin: 0 0 20px 0;
}
.item-services__text {
  flex: 1 1 auto;
}
/* end services */
/* start impact */
.impact {
  background-color: #2ab1ad;
  padding: 0 0 212px 0;
}
.impact__container {
  position: relative;
}
.impact__container::before {
  position: absolute;
  content: "";
  background: url("../img/mainpage/impact/decor.png") 0 0 / 100% no-repeat;
  top: 0;
  right: 50%;
  transform: translate(88%, 0);
  width: 68%;
  height: 100%;
}
.impact__body {
  display: flex;
  position: relative;
  margin: 0 -15px;
}
.impact__body:not(:last-child) {
  margin-bottom: 80px;
}
.impact__content {
  align-self: flex-end;
  padding: 20px 15px 0 15px;
  flex: 0 1 50%;
}
.impact__header {
  max-width: 420px;
}

.impact__image {
  margin: -7.61% 0 0 0;
  padding: 0 15px;
  flex: 0 1 50%;
}
.impact__image img {
  max-width: 100%;
  border-radius: 40px;
}

.impact__items {
  margin: 0 -12px;
  display: flex;
  row-gap: 24px;
  align-items: flex-start;
}
.impact__item {
  padding: 0 12px;
  flex: 0 1 25%;
}
.item-impact {
  display: flex;
  align-items: flex-start;
  column-gap: 11px;
}
.item-impact__icon {
  flex: 0 0 76px;
}
.item-impact__body {
  align-self: center;
}
.item-impact__value {
  color: #fff;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.17;
}
.item-impact__value:not(:last-child) {
  margin: 0 0 3px 0;
}
.item-impact__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.15px;
  color: #5d62b5;
}
/* end impact */
